/* body settings */
body {
  background-color: #104f55;
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
  color: #f4d35e;
}

header {
  font-size: large;
  text-align: center;
  border: 2px solid black;
}

main {
  margin: 25px;
  padding: 12px;
  height: 12px;
}

/* Unvisited link */
a:link {
  color: #555;
}

/* Visited link */
a:visited {
  color: #555;
}

/* Mouse over link */
a:hover {
  color: hotpink;
}

/* Selected link */
a:active {
  color: blue;
}

.links i {
  font-size: 2em;
  transform: scale(2);
}
